body {
	background-color: #232F49;
}

a {
	margin-left: 30px;
	color: #FFF;
}

.center {
    width: 500px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

[class~="fa"] {
	font-size: 70pt;
}

[title~="facebook"]:hover {
	color: #3B5998;
}

[title~="github"]:hover {
	color: #000000;
}

[title~="twitter"]:hover {
	color: #30D8F0;
}

[title~="linkedin"]:hover {
	color: #247BA7;
}
