body {
  background-color: #232f49;
}

a {
  margin-left: 30px;
  color: #fff;
}

.center {
  width: 500px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

[class~="fab"] {
  font-size: 70pt;
}

[title~="facebook"]:hover {
  color: #3b5998;
}

[title~="github"]:hover {
  color: #000000;
}

[title~="twitter"]:hover {
  color: #30d8f0;
}

[title~="linkedin"]:hover {
  color: #247ba7;
}
